<br>
<label for="">pagination</label>
<select name="" id="" [(ngModel)]="pageno" (change)="pagination()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<label for="" class="ms-5">column: </label>
<select [(ngModel)]="column">
    <option value="mobile">Mobile</option>
    <option value="gender">Gender</option>
</select>
<label for="">order: </label>
<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sorting()" class="btn btn-secondary">Sort</button>

<label for="" class="ms-5">Filter: </label>
<input type="text" [(ngModel)]="filtered" (keyup)="filtering()">
<table class="table table-bordered mt-4">
    <thead class="table-dark" align="center" style="vertical-align: middle;">
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Gender</th>
            <th rowspan="2">Mobile</th>
            <th rowspan="2">Batch</th>
            <th colspan="2">Address</th>
            <th colspan="2">Company</th>
        </tr>
        <tr>
            <th>District</th>
            <th>state</th>
            <th>Name</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let studentdata of studentsdata">
            <td>{{studentdata.name}}</td>
            <td>{{studentdata.gender}}</td>
            <td>{{studentdata.mobile}}</td>
            <td>{{studentdata.batch}}</td>
            <td>
                {{studentdata.address.district}}
            </td>
            <td>{{studentdata.address.state}}</td>
            <td>{{studentdata.company.name}}</td>
            <td>{{studentdata.company.package}}</td>
        </tr>
    </tbody>
</table>
