
<h3>Personal information</h3>
<h5>Name: {{studentdetails.name}}</h5>
<h5>Gender: {{studentdetails.gender}}</h5>
<h5>Mobile: {{studentdetails.mobile}}</h5>
<h5>Email: {{studentdetails.email}}</h5>
<h5>Batch: {{studentdetails.batch}}</h5>
<h3>Address information</h3>
<h5>City: {{studentdetails.address.city}}</h5>
<h5>Mandal: {{studentdetails.address.mandal}}</h5>
<h5>District: {{studentdetails.address.district}}</h5>
<h5>State: {{studentdetails.address.state}}</h5>
<h5>Pincode: {{studentdetails.address.pincode}}</h5>
<h3>Education information</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Qualification</th>
            <th>Year</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{studentdetails.qualification}}</td>
            <td>{{studentdetails.year}}</td>
            <td>{{studentdetails.percentage | percentage}}</td>
        </tr>
    </tbody>
</table>
<h3>Company information</h3>
<h5>Name: {{studentdetails.company.name}}</h5>
<h5>location: {{studentdetails.company.location}}</h5>
<h5>package: {{studentdetails.company.package | package}}</h5>
<h5>offerdate: {{studentdetails.company.offerDate}}</h5>
<h3>Referral information</h3>
<h5>sourceType: {{studentdetails.sourceType}}</h5>
<h5>sourceForm: {{studentdetails.sourceForm}}</h5>
<h5>Referralname: {{studentdetails.referralName}}</h5>

<button (click)="back()" class="btn btn-warning">Back</button>